{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
            <h2 class="m-2"><strong>{{ content }}</strong></h2>
            <p class="m-2"><strong>Адрес:</strong> Кыргызская Республика, Чуйская область, г. Кант, завод «Абдыш-Ата».</p>
            <p class="m-2"><strong>Телефон:</strong> +996 (XXX) XX-XX-XX</p>
            <p class="m-2"><strong>E-mail:</strong> info@abdysh-ata.kg</p>
            <p class="m-2"><strong>Режим работы:</strong> понедельник – пятница, 09:00 – 18:00.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Сайт разработан Карпухиным Артуром</p>
    </div>
</footer>
{% endblock %}
